html{
background-color:#568EA3;
};

h1, h2, h3{
  color: white;
}

.seo{
  a{
    color: white;
    link{
      color:white
    }
  }
}

a{
  link{
    color: white;
  }
  &:visited{
    color: #CAD2C5
  };
  &:hover{
    color: #CAD2C5
  };
  color: white;
 
}

p{
  color: whitesmoke;
}